body {
    margin: 0;
}
.font-weight-bold {
    font-weight: bold;
}
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.w2rem {
    width: 2rem;
}
.h2rem {
    height: 2rem;
}
.cursor {
    cursor: pointer;
}
.mt2rem {
    margin-top: 2rem;
}
.mb2rem {
    margin-bottom: 2rem;
}
.p05rem {
    padding: .5rem;
}
.font1rem {
    font-size: 1rem;
}
.list-chart {
    border-bottom: .5px solid;
}
.list-chart tr:nth-child(2n+1) {
    background: rgb(0, 0, 0, .05);
}
.list-chart tr:nth-child(2n) {
    background: #fff;
}
.lh2rem {
    line-height: 2rem;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
[class*="for-"],
.showdata {
    font-family: "YourFontFamily", sans-serif;
    display: inline-block;
    width: calc(100% - 7rem);
}
.showdata{
    padding: 1rem;
}
.input-wrapper {
    position: relative;
    button {
        bottom: .5rem;
        right: 50%;
        img {
            width: 100%;
        }
    }
    textarea {
        width: 100%;
        border: none;
        background: rgb(0, 0, 0, .05);
    }
}
.content-wrapper {
    max-width: 50rem;
    padding: 2rem 4rem;
    min-height: 100vh;
    margin: 2rem auto;
    background: #ffff;
}
.trashbutton {
    bottom: 0;
    img {
        width: 100%;
    }
}
.trashbutton,
.addcontentbutton {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    background: transparent;
    border: none;
}
.text-decoration-none {
    text-decoration: none;
}
.accent-text-color {
    color: #0686b2;
}
.addcontent-wrapper{
    height: 1.5rem;
    bottom: -2rem;
    width: 100%;
    left: 0;
    bottom: -1rem;
    .addcontent-border {
        top: 1rem;
    }
    .addcontentbutton {
        bottom: 0;
        right: 50%;
        img {
            width: 100%;
        }
    }
}
.bottom-border {
    width:100%;
    height: .5px;
    display: inline-block;
    background: rgb(0, 0, 0, .5);
    position: absolute;
    left: 0;
}
h2,
.for-h2 {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
}

h3,
.for-h3,
.for-box-h3 {
    font-size: 1.17rem;
    margin: 0 0 .5rem 0;
}

h4,
.for-h4 {
    font-size: 1.05rem;
    margin: 0 0 .5rem 0;
}

p,
.for-p,
.for-box-description {
    font-size: 1rem;
    margin: 0 0 .5rem 0;
}
.for-title {
    font-size: 2rem;
}

.for-title::before {
    font-size: 2rem;
    background: #c50b4f;
    min-width: 1.2rem;
}

.for-title::before,
.for-p::before,
.for-h1::before,
.for-h2::before,
.for-h3::before,
.for-h4::before,
.for-h5::before,
.for-h6::before {
    color:#ffff;
    font-weight: bold;
    margin-right: .5rem;
    border-radius: .5rem;
    padding: .3rem;
    display: inline-block;
    text-align: center;
}
.for-p::before,
.for-h1::before,
.for-h2::before,
.for-h3::before,
.for-h4::before,
.for-h5::before,
.for-h6::before {
    font-size: 1rem;
    min-width: 2rem;
}
.for-h1::before,
.for-h2::before,
.for-h3::before,
.for-h4::before,
.for-h5::before,
.for-h6::before {
    background: #0686b2;
}
.for-p::before {
    background: rgb(0, 0, 0, .5);
}

.for-title::before {
    content: "Title";
}
.for-p::before {
    content: "p";
}
.for-h1::before {
    content: "h1";
}
.for-h2::before {
    content: "h2";
}
.for-h3::before {
    content: "h3";
}
.for-h4::before {
    content: "h4";
}
.for-h5::before {
    content: "h5";
}
.for-h6::before {
    content: "h6";
}
.flex-container {
  display: flex;
  gap: 10px;
}
.submitButtonWrapper {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
    display: inline-block;
}
.submitButtonInner {
    display: flex;
    gap: 3px;
    max-width: 25rem;
    width: 50%;
    margin: 0 auto;
}

.button_pink {
    border-bottom: 7px solid #C50B4F;
    background: #f54785;
    color: #fff;
}
.button_pink:hover {
	border-bottom: 1px solid #C50B4F;
}
.button_blue {
    border-bottom: 7px solid #0686b2;
    background: #27acd9;
    color: #fff;
}
.button_blue:hover{
    border-bottom: 1px solid #0686b2;
}

.submitButton,
.translationButton {
    display: block;
    flex:1;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 1rem 0rem;
    font-weight: bold;
    border-radius: 0.3rem;
    border: none;
    transition: all .3s;
}
.submitButton:hover,
.translationButton:hover {
    margin-top: 6px;
	color: #fff;
    transition: all .3s;
}
.trashbutton {
    right: 2rem;
}